<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<header th:fragment="header">
    <nav class="navbar navbar-expand-md navbar-dark nav-header">
        <div>
            <a href="/home" class="navbar-brand"> MyApp</a>
        </div>

        <ul class="navbar-nav">
            <li><a href="/category/list" class="nav-link">Category</a></li>
        </ul>

        <ul class="navbar-nav">
            <li><a href="/product/list" class="nav-link">Product</a></li>
        </ul>

        <ul class="navbar-nav navbar-collapse justify-content-end" sec:authorize="!isAuthenticated()">
            <li><a href="/profile" class="nav-link">Welcome Guest!</a></li>
            <li><a href="/login" class="nav-link">Login</a></li>
        </ul>

        <ul class="navbar-nav navbar-collapse justify-content-end" sec:authorize="isAuthenticated()">
            <li><a href="/profile" class="nav-link">Welcome <span sec:authentication="name"></span>!</a></li>
            <li><a href="/logout" class="nav-link">Logout</a></li>
        </ul>
    </nav>
</header>
</body>
</html>