<!DOCTYPE html>
<html>
<head>
    <!-- Basic Page Info -->
    <meta charset="utf-8">
    <title>Vaccine Management</title>

    <!-- Site favicon -->
    <link rel="shortcut icon" type="image/png" href="vendors/images/vaccine-icon.png">
    <!--    <link rel="apple-touch-icon" sizes="180x180" href="vendors/images/apple-touch-icon.png">-->
    <!--    <link rel="icon" type="image/png" sizes="32x32" href="vendors/images/favicon-32x32.png">-->
    <!--    <link rel="icon" type="image/png" sizes="16x16" href="vendors/images/favicon-16x16.png">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
          rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="vendors/styles/core.css">
    <link rel="stylesheet" type="text/css" href="vendors/styles/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="src/plugins/datatables/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="src/plugins/datatables/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="vendors/styles/style.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119386393-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-119386393-1');
    </script>
</head>
<body>
<!--<div class="pre-loader">
    <div class="pre-loader-box">
        <div class="loader-logo"><img src="vendors/images/deskapp-logo.svg" alt=""></div>
        <div class='loader-progress' id="progress_div">
            <div class='bar' id='bar1'></div>
        </div>
        <div class='percent' id='percent1'>0%</div>
        <div class="loading-text">
            Loading...
        </div>
    </div>
</div>-->

<div class="header">
    <div class="header-left">
        <div class="menu-icon dw dw-menu"></div>


    </div>
    <div class="header-right">

        <div class="user-info-dropdown" style="padding-left: 20px;">
            <div class="dropdown">
                <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown">
						<span class="user-icon">
							<img th:src="@{'vendors/img1/'+${#authentication.principal.getEmployee().getImage()}}" alt="">
						</span>
                    <span class="user-name"  th:text="${#authentication.principal.getEmployee().getEmployeeName()}"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                    <!--                    <a class="dropdown-item" href="profile.html"><i class="dw dw-user1"></i> Profile</a>-->
                    <!--                    <a class="dropdown-item" href="profile.html"><i class="dw dw-settings2"></i> Setting</a>-->
                    <!--                    <a class="dropdown-item" href="faq.html"><i class="dw dw-help"></i> Help</a>-->
                    <a class="dropdown-item" href="/logout"><i class="dw dw-logout"></i> Log Out</a>
                </div>
            </div>
        </div>


    </div>
</div>

<div class="right-sidebar">
    <div class="sidebar-title">
        <h3 class="weight-600 font-16 text-blue">
            Layout Settings
            <span class="btn-block font-weight-400 font-12">User Interface Settings</span>
        </h3>
        <div class="close-sidebar" data-toggle="right-sidebar-close">
            <i class="icon-copy ion-close-round"></i>
        </div>
    </div>
    <div class="right-sidebar-body customscroll">
        <div class="right-sidebar-body-content">
            <h4 class="weight-600 font-18 pb-10">Header Background</h4>
            <div class="sidebar-btn-group pb-30 mb-10">
                <a href="javascript:void(0);" class="btn btn-outline-primary header-white active">White</a>
                <a href="javascript:void(0);" class="btn btn-outline-primary header-dark">Dark</a>
            </div>

            <h4 class="weight-600 font-18 pb-10">Sidebar Background</h4>
            <div class="sidebar-btn-group pb-30 mb-10">
                <a href="javascript:void(0);" class="btn btn-outline-primary sidebar-light ">White</a>
                <a href="javascript:void(0);" class="btn btn-outline-primary sidebar-dark active">Dark</a>
            </div>

            <h4 class="weight-600 font-18 pb-10">Menu Dropdown Icon</h4>
            <div class="sidebar-radio-group pb-10 mb-10">
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="sidebaricon-1" name="menu-dropdown-icon" class="custom-control-input"
                           value="icon-style-1" checked="">
                    <label class="custom-control-label" for="sidebaricon-1"><i class="fa fa-angle-down"></i></label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="sidebaricon-2" name="menu-dropdown-icon" class="custom-control-input"
                           value="icon-style-2">
                    <label class="custom-control-label" for="sidebaricon-2"><i class="ion-plus-round"></i></label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="sidebaricon-3" name="menu-dropdown-icon" class="custom-control-input"
                           value="icon-style-3">
                    <label class="custom-control-label" for="sidebaricon-3"><i
                            class="fa fa-angle-double-right"></i></label>
                </div>
            </div>

            <h4 class="weight-600 font-18 pb-10">Menu List Icon</h4>
            <div class="sidebar-radio-group pb-30 mb-10">
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="sidebariconlist-1" name="menu-list-icon" class="custom-control-input"
                           value="icon-list-style-1" checked="">
                    <label class="custom-control-label" for="sidebariconlist-1"><i class="ion-minus-round"></i></label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="sidebariconlist-2" name="menu-list-icon" class="custom-control-input"
                           value="icon-list-style-2">
                    <label class="custom-control-label" for="sidebariconlist-2"><i class="fa fa-circle-o"
                                                                                   aria-hidden="true"></i></label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="sidebariconlist-3" name="menu-list-icon" class="custom-control-input"
                           value="icon-list-style-3">
                    <label class="custom-control-label" for="sidebariconlist-3"><i class="dw dw-check"></i></label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="sidebariconlist-4" name="menu-list-icon" class="custom-control-input"
                           value="icon-list-style-4" checked="">
                    <label class="custom-control-label" for="sidebariconlist-4"><i
                            class="icon-copy dw dw-next-2"></i></label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="sidebariconlist-5" name="menu-list-icon" class="custom-control-input"
                           value="icon-list-style-5">
                    <label class="custom-control-label" for="sidebariconlist-5"><i
                            class="dw dw-fast-forward-1"></i></label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="sidebariconlist-6" name="menu-list-icon" class="custom-control-input"
                           value="icon-list-style-6">
                    <label class="custom-control-label" for="sidebariconlist-6"><i class="dw dw-next"></i></label>
                </div>
            </div>

            <div class="reset-options pt-30 text-center">
                <button class="btn btn-danger" id="reset-settings">Reset Settings</button>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{common/newsidebar :: newsidebar}"/>

<div class="mobile-menu-overlay"></div>
<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="pd-20 card-box mb-30">
                <div class="clearfix">
                    <div class="pull-left">
                    <h4 class="text h2" style="color: #17a2b8;" >[[${title}]]</h4>
                    </div>
                </div>
                <div class="pb-20 m-1g-2">
                    <form th:action="@{/createInjectionResult}" method="POST" th:object="${creinjection}" id="injectionResultForm">
                        <input type="hidden" th:field="*{injectionResultID}">
                        <div class="row">
                            <div class="col-md-4 mb-3">
                                <div class="form-group">
                                <label>Customer:<strong class="text-danger">(*)</strong></label>
                                <select class="form-control" id="customerID" name="fullName" th:field="*{customer.customerID}" th:classappend="${#fields.hasErrors('customer')} ? 'is-invalid' : ''">
                                    <option value="0">Select here</option>
                                    <option  th:each="customer:${customerList}"
                                             th:value="${customer.customerID}"
                                             th:text="${customer.fullName}">
                                    </option>
                                </select>
                                </div>
                                <span th:if="${#fields.hasErrors('customer')}" th:errors="*{customer}" class="text-danger"></span>

                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="prevention">Prevention:<strong class="text-danger">(*)</strong></label>
                                <input type="text" class="form-control" id="prevention" name="prevention" th:field="*{prevention}" th:classappend="${#fields.hasErrors('prevention')} ? 'is-invalid' : ''">
                                <span th:if="${#fields.hasErrors('prevention')}" th:errors="*{prevention}" class="text-danger"></span>

                            </div>
                            <div class="col-md-4 mb-3">
                                <div class="form-group">
                                <label>Vaccine Name:<strong class="text-danger">(*)</strong></label>
                                <select class="form-control" id="vaccineID" name="vaccineName" th:field="*{vaccine_r.vaccineID}" th:classappend="${#fields.hasErrors('vaccine_r')} ? 'is-invalid' : ''">
                                    <option value=" ">Select here</option>
                                    <option th:each="vaccine:${vaccineList}"
                                            th:value="${vaccine.vaccineID}"
                                            th:text="${vaccine.vaccineName}">
                                    </option>
                                </select>
                                </div>
                                <span th:if="${#fields.hasErrors('vaccine_r')}" th:errors="*{vaccine_r}" class="text-danger"></span>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-sm-12">
                                <div class="form-group">
                                <label for="numberOfInjection">Number of Injection<strong class="text-danger">(*)</strong></label>
                                <input th:type="number"  class="form-control" min="0" id="numberOfInjection" name="numberOfInjection" th:field="*{numberOfInjection}" th:classappend="${#fields.hasErrors('numberOfInjection')} ? 'is-invalid' : ''" placeholder="Enter Number of Injection">
                                    <span th:if="${#fields.hasErrors('numberOfInjection')}" th:errors="*{numberOfInjection}" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-12">
                                <div class="form-group">
                                <label for="injectionDate">Injection Date<strong class="text-danger">(*)</strong></label>
                                <input th:type="date" class="form-control" id="injectionDate" name="injectionDate" th:field="*{injectionDate}" th:classappend="${#fields.hasErrors('injectionDate')} ? 'is-invalid' : ''" placeholder="Enter Injection Date">
                                    <span th:if="${#fields.hasErrors('injectionDate')}" th:errors="*{injectionDate}" class="text-danger"></span>
                                    <p class="text-danger">[[${error}]]</p>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-12">
                                <div class="form-group">
                                <label for="nextInjectionDate">Next Injection Date<strong class="text-danger">(*)</strong></label>
                                <input th:type="date" class="form-control" id="nextInjectionDate" name="nextInjectionDate" th:field="*{nextInjectionDate}" th:classappend="${#fields.hasErrors('nextInjectionDate')} ? 'is-invalid' : ''" placeholder="Enter Next Injection Date">
                                    <span th:if="${#fields.hasErrors('nextInjectionDate')}" th:errors="*{nextInjectionDate}" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-12">
                                <div class="form-group">
                                <label for="injectionPlace">Injection Place<strong class="text-danger">(*)</strong></label>
                                <input type="text" class="form-control" id="injectionPlace" name="injectionPlace" placeholder="Enter Injection Place" th:field="*{injectionPlace}" th:classappend="${#fields.hasErrors('injectionPlace')} ? 'is-invalid' : ''">
                                    <span th:if="${#fields.hasErrors('injectionPlace')}" th:errors="*{injectionPlace}" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                            <div class="alert alert-success" th:if="${successMessage}">
                                <p th:text="${successMessage}"></p>
                            </div>
                            <!-- Thêm các trường khác tại đây -->
                            <div class="text-left">
                                <button type="submit" class="btn btn-primary" id="submitButton">Save</button>
                                <button type="reset" class="btn btn-secondary" id="resetButton">Reset</button>
                                <a class="btn btn-outline-danger" th:href="@{/injectionResult}">Cancel</a>
                            </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Simple Datatable End -->
        <!-- multiple select row Datatable start -->

        <!-- multiple select row Datatable End -->
        <!-- Checkbox select Datatable start -->

    </div>
    </div>
<!-- js -->
<script src="vendors/scripts/core.js"></script>
<script src="vendors/scripts/script.min.js"></script>
<script src="vendors/scripts/process.js"></script>
<script src="vendors/scripts/layout-settings.js"></script>
<script src="src/plugins/datatables/js/jquery.dataTables.min.js"></script>
<script src="src/plugins/datatables/js/dataTables.bootstrap4.min.js"></script>
<script src="src/plugins/datatables/js/dataTables.responsive.min.js"></script>
<script src="src/plugins/datatables/js/responsive.bootstrap4.min.js"></script>
<!-- buttons for Export datatable -->
<script src="src/plugins/datatables/js/dataTables.buttons.min.js"></script>
<script src="src/plugins/datatables/js/buttons.bootstrap4.min.js"></script>
<script src="src/plugins/datatables/js/buttons.print.min.js"></script>
<script src="src/plugins/datatables/js/buttons.html5.min.js"></script>
<script src="src/plugins/datatables/js/buttons.flash.min.js"></script>
<script src="src/plugins/datatables/js/pdfmake.min.js"></script>
<script src="src/plugins/datatables/js/vfs_fonts.js"></script>
<!-- Datatable Setting js -->
<script src="vendors/scripts/datatable-setting.js"></script>

<script>
    document.getElementById("submitButton").addEventListener("click", function() {
        // Lấy giá trị từ input
        var numberOfInjectionInput = document.getElementById("numberOfInjection");
        var numberOfInjectionValue = numberOfInjectionInput.value;

        // Kiểm tra nếu giá trị rỗng hoặc không hợp lệ (ví dụ: không phải số), thì gán giá trị mặc định là 0
        if (numberOfInjectionValue === "" || isNaN(numberOfInjectionValue)) {
            numberOfInjectionInput.value = "0";
        }

        // Gửi dữ liệu lên máy chủ
        document.getElementById("injectionResultForm").submit();
    });
</script>
</body>
</html>