<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="vendors/styles/forgotPassword.css">
    <link rel="shortcut icon" type="image/png" href="vendors/images/icon_protect_1.png">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<img class="wave" src="vendors/images/vaccine_logo_bg.jpg">
<div class="container">
    <div class="img">
        <img src="vendors/images/icon_protect_1.png"  alt="loading..." >
    </div>
    <div class="login-content">
        <div class="layout" style="background-color: rgba(0, 0, 1, 0.2); border-radius: 50px ">
        <form id="loginForm" th:action="@{/login}" th:object="${loginrequest}" method="POST">
            <img src="vendors/images/user05.png">

            <h1 class="title" style="color: #fdfdfe">Welcome To</h1>
            <h3 class="title" style="padding-bottom: 15px; color: #FFFFFF">Vaccine Management</h3>
            <div class="input-div one">
                <div class="i">
                    <i class="fas fa-user"></i>
                </div>
                <div class="div">
                    <h5>Username</h5>
                    <input type="text" id="username"
                           name="username"
                           th:classappend="${param.error} ? 'is-invalid' : ''"
                           class="input">
                </div>
            </div>
            <div class="input-div pass">
                <div class="i">
                    <i class="fas fa-lock"></i>
                </div>
                <div class="div">
                    <h5>Password</h5>
                    <input type="password" id="password"
                           name="password"
                           th:classappend="${param.error} ? 'is-invalid' : ''"
                           class="input">
                </div>
            </div>
            <div th:if="${param.error}">
                <p style="color: #a92222" class="text-danger">The Username or Password is Incorrect!</p>
            </div>
            <a href="/forgot_password_email">Forgot Password?</a>
            <button type="submit" class="btn" >Login</button>
        </form>
        </div>
    </div>
</div>

<script src="vendors/scripts/login.js"></script>

</body>
</html>